{"@appliance": "TEST_FIREEYE_APPLIANCE", "@version": "6.2.0.74484", "@product": "Web MPS", "alert": {"src": {"mac": "00:20:18:11:01:33", "ip": "43.85.118.121", "@vlan": "0", "port": "1065"}, "@name": "TEST_ALERT_NAME", "alert-url": "https://TEST_FIREEYE_APPLIANCE/event_stream/events_for_bot?ev_id=15100", "explanation": {"malware-detected": {"malware": {"@sid": "80456246", "@name": "APT.", "@stype": "blacklist"}}, "cnc-services": {"cnc-service": {"@port": "53", "@protocol": "udp", "address": "infoblox.com"}}, "@protocol": "udp", "@analysis": "binary"}, "occurred": "2013-08-27T15:18:25Z", "action": "TEST_ALERT_ACTION", "@severity": "TEST_ALERT_SEVERITY", "@id": "TEST_ALERT_ID", "dst": {"mac": "00:01:6c:a9:2f:27"}}, "@msg": "normal"}
