
######################################################################
# Global customizable params
#   Please change the sample values with your real test env values
######################################################################
#FIREEYE_APPLIANCE="eng-lab-249.inca.infoblox.com"

FIREEYE_APPLIANCE="FireEye alert simulator_Gridmember1"
#FIREEYE_APPLIANCE="FireEye alert simulator_3_abcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghiabcdefghi"
echo "FIREEYE_APPLIANCE=${FIREEYE_APPLIANCE}"

#User-defined domain in alert
MALWARE_CALLBACK_DOMAIN="malware_callback.com"
MALWARE_OBJECT_DOMAIN="malware_object.com"
WEB_INFECTION_DOMAIN="web_infection.com"
INFECTION_MATCH_DOMAIN="infection_match.com"
DOMAIN_MATCH_DOMAIN="domain_match.com"
FIREEYE_ADMINGROUP_USER=user                #User created on NIOS and belonging to fireeye-group admin group
FIREEYE_ADMINGROUP_PASSWORD=user@123
#FIREEYE_ZONE_URL="https://10.34.140.107/alert/feye/default/default/gridmaster.com"
#FIREEYE_ZONE_URL="https://10.34.140.107/alert/feye/default/default/gridmember.com"
#FIREEYE_ZONE_URL="https://10.34.140.150/alert/feye/default/default/fire_1.com"
#FIREEYE_ZONE_URL="https://10.34.140.150/alert/feye/default/default/user1.com"
#FIREEYE_ZONE_URL="https://10.34.140.150/alert/feye/default/default/force_user.com"


FIREEYE_ZONE_URL="https://10.35.159.7/alert/feye/default/default/test.com"
#FIREEYE_ZONE_URL="https://10.34.140.2/alert/feye/netview1/view1/view1_rpzfireeye.com"
#FIREEYE_ZONE_URL="https://10.34.140.2/alert/feye/netview2/view2/view2_rpzfireeye.com"
#FIREEYE_ZONE_URL="https://10.34.140.2/alert/feye/netview3/view3/view3_rpzfireeye.com"



#FIREEYE_ADMINGROUP_USER=jackie                #User created on NIOS and belonging to fireeye-group admin group
#FIREEYE_ADMINGROUP_PASSWORD=infoblox
#FIREEYE_ZONE_URL="https://10.34.35.2/alert/feye/default/default/jun.local"

echo "FIREEYE_ADMINGROUP_USER=${FIREEYE_ADMINGROUP_USER}"
echo "FIREEYE_ADMINGROUP_PASSWORD=${FIREEYE_ADMINGROUP_PASSWORD}"
echo "FIREEYE_ZONE_URL=${FIREEYE_ZONE_URL}"
TEST_CONFIG_FILE="tests.config"
echo "TEST_CONFIG_FILE=${TEST_CONFIG_FILE}"
FIREEYE_INFECTION_TYPES="malware-callback malware-object web-infection infection-match domain-match"
echo "FIREEYE_INFECTION_TYPES=${FIREEYE_INFECTION_TYPES}"
