{"@appliance": "TEST_FIREEYE_APPLIANCE", "@version": "6.2.0.74484", "@product": "E MPS", "alert": {"src": {"mac": "", "ip": "", "@vlan": "", "port": ""}, "@name": "TEST_ALERT_NAME", "alert-url": "http://TEST_FIREEYE_APPLIANCE/event_stream/events_for_bot?ev_id=14479", "explanation": {"malware-detected": {"malware": {"@sid": "", "@name": "", "@stype": ""}}, "cnc-services": {"cnc-service": {"@port": "", "@protocol": "", "address": "domain.com"}}, "@protocol": "", "@analysis": ""}, "occurred": "", "action": "", "@severity": "TEST_ALERT_SEVERITY", "@id": "TEST_ALERT_ID", "dst": {"mac": ""}}, "@msg": ""}
